<%- include('partials/header'); -%>
<link rel="stylesheet" href="/stylesBlog.css">
<%- include('partials/nav'); -%>

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>
          <%= title%>
        </h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>
            <%= title%>
          </li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      <a href="/blogs/create" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-plus-sign"></span> Add Blog
      </a>
      <hr>
      <div class="blogs content">
        <% if (blogs.length> 0) { %>
          <% blogs.forEach(blog=> { %>
            <a class="single" href="/blogs/<%= blog._id %>">
              <h3 class="title">
                <%= blog.title %>
              </h3>
              <p class="snippet">
                <%= blog.snippet %>
              </p>
            </a>
            <% }) %>
              <% } else { %>
                <p>There are no blogs to display...</p>
                <% } %>
      </div>
    </div>
  </section>

</main><!-- End #main -->



<%- include('partials/footer'); -%>
