<%- include('partials/header'); -%>
  <link rel="stylesheet" href="/stylesBlog.css">
  <%- include('partials/nav'); -%>
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>
          <%= title%>
        </h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>
            <%= title%>
          </li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      <div class="details content">
        <h2>
          <%= title %>
        </h2>
        <div class="content">
          <p>
            <%= type.description %>
          </p>
        </div>
        <div class="blogs content">
          <% if (type.questions.length> 0) { %>
            <% type.questions.forEach(ques=> { %>
              <a class="single" href='/programming/<%= type.title%>/<%= ques._id%>'>
                <h3 class="title">
                  <%= ques.title %>
                </h3>
                <p class="snippet">
                  <%= ques.title %>
                </p>
              </a>
              <% }) %>
                <% } else { %>
                  <p>There are no questions to display...</p>
                  <% } %>
        </div>
      </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->
    
    <%- include('partials/footer'); -%>